<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{titleHeader}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-img class="rotate-top" src="../../../assets/img/LogoDragonBallApi.png" alt="LOGO DragonBall Z"></ion-img>
    <h1>
      <strong>The Dragon Ball API</strong>
    </h1>
    <p>Aplicativo feito utilizando a Api.</p>
    <a href="https://web.dragonball-api.com/" target="_blank">https://web.dragonball-api.com/.</a>
    <p>Todos os direitos reservados <br> por Antonio Alvarez, 2024.</p>
    <br>
    <br>
    <br>
    <p>Selecione uma das opções <br> a seguir para a sua navegação.</p>
  </div>
</ion-content>