<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{titleHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{titleHeader}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Lista de Characters</h1>


  <ion-grid>
    <ion-row>
      @for (item of paginationCharacter?.items; track $index) {
      <ion-col size-lg="6" size-md="6" size-sm="12" size="=12">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding" size-lg="4" size-md="4" size-sm="4" size="=12">
                <ion-avatar>
                  <img alt="Silhouette of mountains" [src]="item.image" />
                </ion-avatar>
              </ion-col>
              <ion-col class="ion-padding" size-lg="4" size-md="4" size-sm="4" size="=12">
                <h3>Nome: {{item.name}}</h3>
                <p>Raça: {{item.race}}</p>
                <p>Gênero: {{item.gender}}</p>
                <p>Ki: {{item.ki}}</p>
                <p>Ki Máximo: {{item.maxKi}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Adicione esta parte ao final da sua lista -->
  <ion-item *ngIf="!hasMoreItems">
    <ion-label>No more items</ion-label>
  </ion-item>
</ion-content>